.container {
  max-width: 800px; }
.header {
  margin-top: 6rem;
  text-align: center; }

.value-prop {
  margin-top: 1rem; }
.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; }
.value-img {
  display: block;
  text-align: center;
  margin: auto 0; }
/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 5rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
}
